<div class="debtheme-header">
    <h1 class="text-white mb-4">Welcome to Debonair Learning</h1>
    <div class="deb-grid-container">
        {{#buttons}}
            <a href="{{url}}" class="btn header-btn {{#active}}deb-active-now{{/active}}">
                {{text}}
            </a>
        {{/buttons}}
    </div>
</div>